*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
background-color: rgb(19, 19, 58);
color: white;
height: 66px;
line-height: 4rem;
}
.choice{
    /* height: 260px; */
    /* width: 260px; */
    margin: 22px;
    border-radius: 50%;
}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;
    background-color: black;
}
.img{
    /* object-fit: cover; */
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 12px;
}
.score-board{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#user-score,#comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 3rem;
}
#msg{
    background-color: rgb(35, 19, 83);
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}